{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- heart images -->
<div style="display:flex; justify-content:center; align-items:center; padding-top:3rem;">
  <img src="{% static 'diaries/image/full-heart.png' %}" alt="" style="height:2rem;">
  <img src="{% static 'diaries/image/full-heart.png' %}" alt="" style="height:2rem;">
  <img src="{% static 'diaries/image/full-heart.png' %}" alt="" style="height:2rem;">
  <img src="{% static 'diaries/image/bin-heart.png' %}" alt="" style="height:2rem;">
</div>

<h1 class="text-center fw-light my-5" style="font-size:24px;">생년월일을 입력해 주세요.</h1>
<!-- <h3 class="text-center" style="margin-top: 10rem;">1960년 10월 17일</h3> -->

<!-- birth input -->
<div style="height:2rem;"></div>
<form method="">
<div class="input-group flex-nowrap">
  <span class="input-group-text" id="addon-wrapping">생년월일</span>
  <input type="date" class="form-control" placeholder="birth" aria-label="birth" aria-describedby="addon-wrapping">
</div>

<!-- next button -->
<div class="d-flex justify-content-end position-fixed" style="bottom: 12rem; right: 3rem;">
  <a class="btn btn-lg btn-outline-dark" href="{% url 'accounts:volume' %}">다음</a>
</div>
{% endblock %}