{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}

<!-- heart images -->
<div style="display:flex; justify-content:center; align-items:center; padding-top:3rem;">
  <img src="{% static 'diaries/image/full-heart.png' %}" alt="" style="height:2rem;">
  <img src="{% static 'diaries/image/bin-heart.png' %}" alt="" style="height:2rem;">
  <img src="{% static 'diaries/image/bin-heart.png' %}" alt="" style="height:2rem;">
  <img src="{% static 'diaries/image/bin-heart.png' %}" alt="" style="height:2rem;">
</div>

<!-- text box -->
<div style="display:flex; justify-content:center; align-items:center; flex-direction:column;">
  <h1 class="text-center fw-light mt-5 mb-3" style="font-size:24px;">이름을 입력해 주세요.</h1>
  <p class="text-center fw-light" style="font-size:17px;">손녀가 입력한 이름으로 불러드릴게요.</p>
</div>

<!-- name input -->
<div style="height:2rem;"></div>
<input class="form-control" type="text" size="7" maxlength = "6" minlength = "2" placeholder = "이름을 입력해주세요!">

<!-- next button -->
<div class="d-flex justify-content-end position-fixed" style="bottom: 12rem; right: 3rem;">
  <a class="btn btn-lg btn-outline-dark" href="{% url 'accounts:gender' %}">다음</a>
</div>


{% endblock %}