{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<div style="margin-top: 6rem;">
  <h1 class="text-center fw-light mt-5 mb-3">이름을 입력해주세요.</h1>
  <p class="text-center fw-light" style="margin-bottom: 7rem;">손녀가 입력한 이름으로 불러드릴게요.</p>
</div>
<input class="form-control" type="text" size="7" maxlength = "6" minlength = "2" placeholder = "이름을 입력해주세요!">
<div class="d-flex justify-content-end position-fixed" style="bottom: 12rem; right: 3rem;">
  <a class="btn btn-lg btn-outline-primary" href="{% url 'accounts:gender' %}">다음</a>
</div>
{% endblock %}