body{
  background: navajowhite;
  background-size: cover;
  font-family: Play; 
}

.c1{
  display: inline-block;
}
.c2{
  display: inline-block;
}
.c3{
  display: inline-block;
}
.c4{
  display: inline-block;
}
h1{
  font-size: 3.2rem;
  margin-top: 1%;
}
.type{
    font-size: 2rem;
    overflow: hidden;
    white-space: nowrap; 
    width: 0;
    animation: 
      typing 1s steps(25, end) forwards;
    animation-timing-function:ease-in-out;
}
.type2{
    font-size: 2rem; 
    overflow: hidden;
    white-space: nowrap; 
    width: 0;
    animation: 
      typing 1.5s steps(25, end) forwards;
    animation-delay: 1.5s;
    animation-timing-function:ease-in-out;
}
.type3{
    font-size: 2rem; 
    overflow: hidden;
    white-space: nowrap; 
    width: 0;
    animation: 
      typing 1s steps(25, end) forwards;
    animation-delay: 3.5s;
    animation-timing-function:ease-in-out;
}
.type4{
  font-size: 2rem; 
  overflow: hidden;
  white-space: nowrap; 
  width: 0;
  animation: 
    typing 1s steps(25, end) forwards;
  animation-delay: 5s;
  animation-timing-function:ease-in-out;
}

@keyframes typing {
  from { 
    width: 0;
    opacity: 0;
   }
  to { 
    width: 100%;
    opacity: 1;
  }
}
